"""{{ enum.description or enum.name }} enumeration."""

from enum import IntEnum


class {{ class_name }}(IntEnum):
    """{{ enum.description or 'OCSF enumeration.' }}

    See: https://schema.ocsf.io/{{ version }}/data_types/{{ enum.name }}
    """

{% for value, name in enum.values.items() | sort %}
    {{ name | upper }} = {{ value }}  # {% if enum.value_descriptions.get(value) %}{{ enum.value_descriptions[value] }}{% endif %}

{% endfor %}
